$green:#4CAF50;
$green-lighten-5:#E8F5E9;
$green-lighten-4:#C8E6C9;
$green-lighten-3:#A5D6A7;
$green-lighten-2:#81C784;
$green-lighten-1:#66BB6A;
$green-darken-1:#43A047;
$green-darken-2:#388E3C;
$green-darken-3:#2E7D32;
$green-darken-4:#1B5E20;
$green-accent-1:#B9F6CA;
$green-accent-2:#69F0AE;
$green-accent-3:#00E676;
$green-accent-4:#00C853;