$black:#000000;
$white:#FFFFFF;

$green:#4CAF50;
$green-lighten-5:#E8F5E9;
$green-lighten-4:#C8E6C9;
$green-lighten-3:#A5D6A7;
$green-lighten-2:#81C784;
$green-lighten-1:#66BB6A;
$green-darken-1:#43A047;
$green-darken-2:#388E3C;
$green-darken-3:#2E7D32;
$green-darken-4:#1B5E20;
$green-accent-1:#B9F6CA;
$green-accent-2:#69F0AE;
$green-accent-3:#00E676;
$green-accent-4:#00C853;

$light-green:#8BC34A;
$light-green-lighten-5:#F1F8E9;
$light-green-lighten-4:#DCEDC8;
$light-green-lighten-3:#C5E1A5;
$light-green-lighten-2:#AED581;
$light-green-lighten-1:#9CCC65;
$light-green-darken-1:#7CB342;
$light-green-darken-2:#689F38;
$light-green-darken-3:#558B2F;
$light-green-darken-4:#33691E;
$light-green-accent-1:#CCFF90;
$light-green-accent-2:#B2FF59;
$light-green-accent-3:#76FF03;
$light-green-accent-4:#64DD17;

$red:#F44336;
$red-lighten-5:#FFEBEE;
$red-lighten-4:#FFCDD2;
$red-lighten-3:#EF9A9A;
$red-lighten-2:#E57373;
$red-lighten-1:#EF5350;
$red-darken-1:#E53935;
$red-darken-2:#D32F2F;
$red-darken-3:#C62828;
$red-darken-4:#B71C1C;
$red-accent-1:#FF8A80;
$red-accent-2:#FF5252;
$red-accent-3:#FF1744;
$red-accent-4:#D50000;

$grey:#9E9E9E;
$grey-lighten-5:#FAFAFA;
$grey-lighten-4:#F5F5F5;
$grey-lighten-3:#EEEEEE;
$grey-lighten-2:#E0E0E0;
$grey-lighten-1:#BDBDBD;
$grey-darken-1:#757575;
$grey-darken-2:#616161;
$grey-darken-3:#424242;
$grey-darken-4:#212121;